In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    'A': [1.0,5.0,10.0],
    'B': [2.0,6.0,11.0],
    'C': [3.0,np.nan,12.0],
    'D':[4.0,8.0,np.nan]
}

In [4]:
df = pd.DataFrame(data)
display(df)

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [6]:
df.isnull().sum()

A    0
B    0
C    1
D    1
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      float64
 1   B       3 non-null      float64
 2   C       2 non-null      float64
 3   D       2 non-null      float64
dtypes: float64(4)
memory usage: 228.0 bytes

In [8]:
df.dropna()

     A    B    C    D
0  1.0  2.0  3.0  4.0

In [10]:
df.dropna(axis=1)

      A     B
0   1.0   2.0
1   5.0   6.0
2  10.0  11.0

In [15]:
df.loc[3] = np.nan
display(df)

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN
3   NaN   NaN   NaN  NaN

In [16]:
df.dropna(how='all')

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [17]:
df.dropna(thresh=3)

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [18]:
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN
3   NaN   NaN   NaN  NaN

In [20]:
df.dropna(subset=['C', 'D'])

     A    B    C    D
0  1.0  2.0  3.0  4.0

In [21]:
from sklearn.impute import SimpleImputer

In [23]:
imr = SimpleImputer(missing_values=np.nan, strategy='mean')
imr.fit(df)

SimpleImputer()

In [25]:
df.values

array([[ 1.,  2.,  3.,  4.],
       [ 5.,  6., nan,  8.],
       [10., 11., 12., nan],
       [nan, nan, nan, nan]])

In [24]:
imr.transform(df)

array([[ 1.        ,  2.        ,  3.        ,  4.        ],
       [ 5.        ,  6.        ,  7.5       ,  8.        ],
       [10.        , 11.        , 12.        ,  6.        ],
       [ 5.33333333,  6.33333333,  7.5       ,  6.        ]])